<template>
    <vue-modal ref="modal"
               @open="onOpen"
               @close="onClose">
        <slot>
        </slot>
        <footer class="modal-card-foot"
                slot="footer">
            <slot name="footer">
                <ui-button type="button"
                           color="accent"
                           class="button"
                           @click="deny"
                           :loading="loading">{{ denyText }}
                </ui-button>
                <ui-button type="button"
                           color="green"
                           :loading="loading"
                           class="button is-success"
                           @click="confirm">{{ confirmText }}
                </ui-button>
            </slot>
        </footer>
    </vue-modal>
</template>

<script>
  import VueModal from './VueModal'

  export default {
    name: "VueConfirm",
    mixins: [VueModal],
    props: {
      confirmText: {
        type: String,
        default: 'Confirm'
      },
      denyText: {
        type: String,
        default: 'Cancel'
      },
      loading: {
        type: Boolean,
        default: false
      },
      closeOnConfirm: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      open() {
        this.$refs.modal.open();
      },
      close() {
        this.$refs.modal.close();
      },
      confirm() {
        this.$emit('confirm');

        if (this.closeOnConfirm) {
          this.$refs.modal.close();
        }
      },
      deny() {
        this.$refs.modal.close();

        this.$emit('deny');
      },
      onOpen() {
        this.$emit('open');
      },
      onClose() {
        this.$emit('close');
      }
    }
  }
</script>