<template>
    <div class="modal"
         :class="modalClass">
        <div class="modal-background"></div>
        <div class="modal-card">
            <slot name="header">
                <header class="modal-card-head">
                    <p class="modal-card-title"
                       v-html="title"></p>
                    <button type="button"
                            class="delete"
                            aria-label="close"
                            @click="close"></button>
                </header>
            </slot>
            <section class="modal-card-body">
                <slot>
                </slot>
            </section>
            <slot name="footer"></slot>
        </div>
    </div>
</template>
<script>
  export default {
    name: 'VueModal',
    props: {
      title: {
        type: String,
        default: 'Modal title'
      }
    },
    data() {
      return {
        isOpen: false
      }
    },
    computed: {
      modalClass() {
        return {'is-active': this.isOpen};
      }
    },
    watch: {
      isOpen() {
        this.$nextTick(() => {
          this[this.isOpen ? 'onOpen' : 'onClose']();
        });
      }
    },
    methods: {
      open() {
        this.isOpen = true;
      },
      close() {
        this.isOpen = false;
      },
      onOpen() {
        this.$emit('open');
      },
      onClose() {
        this.$emit('close');
      }
    }
  }
</script>